table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black;
  padding: 8px;
}

th {
  background-color: rgb(250, 244, 166);

}
.table-container {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

label {
  font-weight: bold;
}

.highlight-label {
  background-color: yellow;
}

.input-container {
  display: flex;

  margin-bottom: 10px;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.label {
  font-weight: bold;
}



.table-container table td.decimal {
  padding-right: 10px; /* Adjust padding as needed */
}

