/* Add appropriate styles to align and style the component */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1%;
}

.form-container input {
  margin: 0 10px;
}
/* Navbar container */
.navbar {
  background-color: #333;
  padding: 10px;
}

/* Navbar links */
.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

/* Navbar links on hover */
.navbar a:hover {
  background-color: #555;
}

/* Active link */
.navbar .active {
  background-color: #555;
}


h1 {
  text-align: center;
}

h2 {
  margin-top: 20px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #f2f2f2;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

table th {
  background-color: #4caf50;
  color: #fff;
}


button {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}

p {
  margin-top: 10px;
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* Center align the component */
.billbody {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}

